@import "./reset.css";
@import "./base.css";
@import "./container.css";
@import "./header.css";
@import "./footer.css";
@import "./back-link.css";
@import "./badges.css";
@import "./vite-promo.css";
@import "./animations.css";

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form input:hover {
  border-color: #000000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  height: 40px;
  padding: 8px 20px;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form button:hover {
  background-color: #6885ff;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f3f3f3;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none !important;
}

/* Стилізація сітки галереї та карток */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0 156px;
  list-style: none;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  background-color: #ffffff;
  overflow: hidden;
}

.gallery-link {
  display: block;
  cursor: zoom-in;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
  background-color: #ffffff;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.info-label {
  font-weight: 600;
}